header, main, footer {
    width: 70%;
    height: 200px;
    border: 1px dashed hotpink;
    margin: 1em auto;
}

#head {
    height: 120px;
    width: 120px;
    background-color: blue;
    border-radius: 50%;
    margin: 0 auto;
}

#shoulders {
    width: 250px;
    height: 80px;
    background-color: blue;
    border-radius: 20% 20% 20% 20%;
    margin: 0 auto;
}

#leftarm {
    width: 60px;
    height: 200px;
    background-color: blue; 
    margin-left: 31%;
    margin-top: -5%;
    transform: rotate(22deg); 
}

#rightarm {
    width: 60px;
    height: 200px;
    background-color: blue; 
    margin-left: 62.5%;
    margin-top: -23%;
    transform: rotate(155deg); 
}

#torso {
    height: 300px;
    width: 180px;
    background-color: blue;
    margin-left: 40%;
    margin-top: -25%;
    border-radius: 20% 20% 20% 20%;
}

#leftleg {
    width: 60px;
    height: 250px; 
    background-color: blue;
    margin-left: 36%;
    margin-top: 0%;
    transform: rotate(20deg);
}

#rightleg {
    width: 60px;
    height: 250px; 
    background-color: blue;
    margin-left: 59%;
    margin-top: -30%;
    transform: rotate(155deg);
}